<form class="form-controller px-5" action="/employee" method="POST" autocomplete="off" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="InputFirstName">First Name</label>
                <input type="text" class="form-control" id="InputFirstName" placeholder="Enter First Name"
                    name="firstname" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputLastName">Last Name</label>
                <input type="text" class="form-control" id="InputLastName" placeholder="Enter Last Name"
                    name="lastname" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" name="email" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputPhone">Phone Number</label>
                <input type="number" class="form-control" id="InputPhone" placeholder="Enter Phone Number"
                    maxlength="10" name="phone" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="InputAddress">Address</label>
        <textarea class="form-control rounded-0" id="InputAddress" placeholder="Enter Address" rows="2"
            name="address"></textarea>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="txtPANCard">PAN Card</label>
                <input type="text" id="txtPANCard" class="form-control" placeholder="Enter PAN Number" name="pancard" />
                <!-- <span id="lblPANCard" class="error">Invalid PAN Number</span> -->
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputPhoto">Upload Picture</label>
                <input type="file" name="image" class="form-control" id="InputPhoto" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="InputBasic">Basic Salary</label>
                <input type="number" class="form-control" id="InputBasic" placeholder="Enter Basic Salary" maxlength="6"
                    name="basicsalary" />
            </div>

            <div class="form-group">
                <label for="InputDA">Dearness Allowance</label>
                <input type="number" class="form-control" id="InputDA" placeholder="Enter DA" maxlength="4" name="da" />
            </div>

            <div class="form-group">
                <label for="InputHRA">House Rental Allowance</label>
                <input type="number" class="form-control" id="InputHRA" placeholder="Enter HRA" maxlength="4"
                    name="hra" />
            </div>

            <div class="form-group">
                <label for="InputMedical">Medical Allowance</label>
                <input type="number" class="form-control" id="InputMedical" placeholder="Enter Medical" maxlength="4"
                    name="medical" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputProfTax">Professinal Tax</label>
                <input type="number" class="form-control" id="InputProfTax" placeholder="Enter Professional Tax"
                    maxlength="3" name="proftax">
            </div>
            <div class="form-group dropdown">
                {{!-- <button class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Income Tax
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" data-value="10" href="#">10%</a>
                    <a class="dropdown-item" data-value="20" href="#">20%</a>
                    <a class="dropdown-item" data-value="30" href="#">30%</a>
                </div> --}}
                <label for="cars">Income Tax</label>

                <select name="incometax" id="cars">
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    {{!-- <option value="audi">Audi</option> --}}
                </select>

            </div>

            <div class="form-group">
                <label for="InputBasic">Provident Fund</label>
                <input type="number" class="form-control" id="InputMedical" placeholder='Enter Provident Fund'
                    maxlength="5" name="providentfund" />
            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-database" aria-hidden="true"></i>
        Save</button>

</form>