<h3>{{viewTitle}}</h3>
<form class="form-controller px-5" action="/employee" method="POST" autocomplete="off">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="InputFirstName">First Name</label>
                <input type="text" class="form-control" id="InputFirstName" placeholder="Enter First Name" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputLastName">Last Name</label>
                <input type="text" class="form-control" id="InputLastName" placeholder="Enter Last Name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputPhone">Phone Number</label>
                <input type="number" class="form-control" id="InputPhone" placeholder="Enter Phone Number"
                    maxlength="10" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="InputAddress">Address</label>
        <textarea class="form-control rounded-0" id="InputAddress" placeholder="Enter Address" rows="2"></textarea>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="txtPANCard">PAN Card</label>
                <input name="txtPANCard" type="text" id="txtPANCard" class="form-control"
                    placeholder="Enter PAN Number" />
                <!-- <span id="lblPANCard" class="error">Invalid PAN Number</span> -->
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputPhoto">Upload Picture</label>
                <input type="file" class="form-control" id="InputPhoto" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="InputBasic">Basic Salary</label>
                <input type="number" class="form-control" id="InputBasic" placeholder="Enter Basic Salary"
                    maxlength="6" />
            </div>

            <div class="form-group">
                <label for="InputDA">Dearness Allowance</label>
                <input type="number" class="form-control" id="InputDA" placeholder="Enter DA" maxlength="4" />
            </div>

            <div class="form-group">
                <label for="InputHRA">House Rental Allowance</label>
                <input type="number" class="form-control" id="InputHRA" placeholder="Enter HRA" maxlength="4" />
            </div>

            <div class="form-group">
                <label for="InputMedical">Medical Allowance</label>
                <input type="number" class="form-control" id="InputMedical" placeholder="Enter Medical" maxlength="5" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="InputProfTax">Professinal Tax</label>
                <input type="number" class="form-control" id="InputProfTax" placeholder="Enter Medical Allowance"
                    maxlength="6" value="200" readonly />
            </div>
            <div class="form-group dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Income Tax
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">10%</a>
                    <a class="dropdown-item" href="#">20%</a>
                    <a class="dropdown-item" href="#">30%</a>
                </div>
            </div>

            <div class="form-group">
                <label for="InputBasic">Provident Fund</label>
                <input type="number" class="form-control" id="InputMedical" maxlength="6" value={{value}} readonly />
            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-database" aria-hidden="true"></i>
        Save</button>



</form>